<div>
  <i
    class="fa-sharp{% if rating >= 1 %} fa-solid fa-star {% elif rating == 0.5 %} fa-solid fa-star-half-stroke{% else %} fa-regular fa-star{% endif %}"
    style="color: #ffb503"
  ></i>
  <i
    class="fa-sharp{% if rating >= 2 %} fa-solid fa-star{% elif rating == 1.5 %} fa-solid fa-star-half-stroke{% else %} fa-regular fa-star{% endif %}"
    style="color: #ffb503"
  ></i>
  <i
    class="fa-sharp{% if rating >= 3 %} fa-solid fa-star{% elif rating == 2.5 %} fa-solid fa-star-half-stroke{% else %} fa-regular fa-star{% endif %}"
    style="color: #ffb503"
  ></i>
  <i
    class="fa-sharp{% if rating >= 4 %} fa-solid fa-star{% elif rating == 3.5 %} fa-solid fa-star-half-stroke{% else %} fa-regular fa-star{% endif %}"
    style="color: #ffb503"
  ></i>
  <i
    class="fa-sharp{% if rating >= 5 %} fa-solid fa-star{% elif rating == 4.5 %} fa-solid fa-star-half-stroke{% else %} fa-regular fa-star{% endif %}"
    style="color: #ffb503"
  ></i>
</div>
