{% extends "base.html" %} {% load static %} {% load showratingstars %}

<!-- content -->
{% block content %}
<section class="section-content padding-y bg">
  <div class="container">
    <div class="card">
      <div class="row no-gutters">
        <aside class="col-md-6">
          <article class="gallery-wrap">
            <div class="img-big-wrap">
              <a href="#"><img src="{{ product.image.url }}" /></a>
            </div>
            <!-- img-big-wrap.// -->
          </article>
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-md-6 border-left">
          <form
            action="{% url 'add-product-to-cart' product.id %}"
            method="POST"
          >
            {% csrf_token %}
            <article class="content-body">
              <h2 class="title">{{ product.name }}</h2>
              here {{ product.average_rating }}

              <div class="mb-3">
                <var class="price h4">${{ product.price }}</var>
              </div>

              <p>{{ product.description }}</p>

              <hr />
              {% if product.variations.colors %}
              <div class="row">
                <div class="item-option-select">
                  <h6>Choose Color</h6>
                  <select name="color" class="form-control" required>
                    <option value="" disabled selected>---</option>
                    {% for color in product.variations.colors %}
                    <option value="{{ color.value | lower }}">
                      {{ color.value | capfirst }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              {% endif %}
              <!-- row.// -->
              {% if product.variations.sizes %}
              <div class="row">
                <div class="item-option-select">
                  <h6>Select Size</h6>
                  <select name="size" class="form-control" required>
                    <option value="" disabled selected>---</option>
                    {% for size in product.variations.sizes %}
                    <option value="{{ size.value | lower }}">
                      {{ size.value | capfirst }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <hr />
              {% endif %}
              <!-- row.// -->

              {% if product.stock <= 0 %}
              <h5 class="text-danger">Out of stock</h5>
              {% else %}
              <button type="submit" class="btn btn-primary">
                <span class="text">Add to cart</span>
                <i class="fas fa-shopping-cart"></i>
              </button>
              {% endif %}
            </article>
            <!-- product-info-aside .// -->
          </form>
        </main>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->

    <br />

    <div class="row">
      <div class="col-md-9">
        <header class="section-heading">
          <h3>Customer Reviews</h3>
        </header>
        {% include "includes/alerts.html" %}
        <!-- Check authentication -->
        {% if user.is_authenticated %}
        <!-- Check product purchase -->
        {% if has_ordered_product %}
        <form action="{% url 'submit-review' product.id %}" method="POST">
          {% csrf_token %}
          <h4 class="mb-3">Add you review</h4>
          <div>
            <!-- Rating stars -->
            <div class="col form-group mb-2">
              <p class="mb-2">How would you rate this product?</p>
              <div class="rate">
                <input
                  type="radio"
                  name="rating"
                  id="rating10"
                  value="5"
                  required
                />
                <label for="rating10" title="5" class="mb-0"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating9"
                  value="4.5"
                  required
                />
                <label for="rating9" title="4.5" class="half mb-0"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating8"
                  value="4"
                  required
                />
                <label for="rating8" title="4" class="mb-0"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating7"
                  value="3.5"
                  required
                />
                <label for="rating7" title="3.5" class="half mb-0"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating6"
                  value="3"
                  required
                />
                <label for="rating6" title="3" class="mb-0"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating5"
                  value="2.5"
                  required
                />
                <label
                  for="rating5"
                  title="2.5"
                  class="half mb-0"
                  class="mb-0"
                ></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating4"
                  value="2"
                  required
                />
                <label for="rating4" title="2" class="mb-0"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating3"
                  value="1.5"
                  required
                />
                <label for="rating3" title="1.5" class="half mb-0"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating2"
                  value="1"
                  required
                />
                <label for="rating2" title="1" class="mb-0"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating1"
                  value="0.5"
                  required
                />
                <label for="rating1" title="0.5" class="half mb-0"></label>
              </div>
            </div>
            <div class="col form-group">
              <label for="title">Review title</label>
              <input type="text" name="title" id="title" class="form-control" />
            </div>
            <div class="col form-group">
              <label for="content">Review content</label>
              <textarea
                name="content"
                id="content"
                class="form-control"
                rows="4"
              ></textarea>
            </div>
            <div class="col form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
        {% else %}
        <p>You must purchase this product to post a review.</p>
        {% endif %}
        <!-- Enf of purchase check -->
        {% else %}
        <p>
          You must be logged in to post a review.
          <a href="{% url 'login' %}">Login now</a>
        </p>
        {% endif %}
        <!-- End of authentication check -->

        {% for product_review in product_reviews %}
        <article class="box mb-3">
          <div class="icontext w-100">
            <div class="text">
              <span class="date text-muted float-md-right">
                <!-- prettier-ignore -->
                {{ product_review.updated_at|date:"m/d/Y" }} 
                {{ product_review.updated_at|time:"H:i" }}
              </span>
              <h6 class="mb-2">{{ product_review.user.full_name }}</h6>
              {% showratingstars product_review.rating %}
            </div>
          </div>
          <!-- icontext.// -->
          <div class="mt-3">
            <h6>{{ product_review.title }}</h6>
            <p>{{ product_review.content }}</p>
          </div>
        </article>
        {% endfor %}
      </div>
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </div>
  <!-- container .//  -->
</section>
{% endblock %}
